{% extends 'base.html' %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col col-lg-1"></div>

            <div class="col col-lg-8">
                <h1>LISTS:</h1>

                <ul>
                    {% if todos.self %}
                        <br><h5>Your LISTS:</h5>
                        <div class="list-group">
                            {% for todo in todos.self %}

                                <a href="{% url 'view_todo' todo.id %}"
                                   class="list-group-item list-group-item-action flex-column align-items-start{% if todo.importance %} active{% endif %}">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">{{ todo.title }}</h5>
                                        {% load humanize %}
                                        <small>{{ todo.creation_time|naturaltime }}</small>
                                    </div>
                                    <p class="mb-1">{{ todo.description|truncatechars:50 }}</p>
                                </a>

                            {% endfor %}
                        </div>
                    {% endif %}

                    {% for group, gr_todos in todos.items %}
                        {% if gr_todos and group != 'self' %}
                            <br><h5>{{ group }}:</h5>
                            <div class="list-group">
                                {% for todo in gr_todos %}
                                    <a href="{% url 'view_todo' todo.id %}" class="list-group-item list-group-item-action flex-column align-items-start{% if todo.importance %} active{% endif %}">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1">{{ todo.title }}</h5>
                                            <small>{{ todo.creation_time|naturaltime }}</small>
                                        </div>
                                        <p class="mb-1">{{ todo.description|truncatechars:50 }}</p>
                                    </a>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="col col-lg-3"></div>
        </div>
    </div>

{% endblock %}